services:
  - type: web
    name: academic-telegram-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: bash start.sh
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: HF_TOKEN
        sync: false
      - key: MONGO_URI
        sync: false
